body {
    background-color: #000000;
    color: #FFD700;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #FFD700;
    border-radius: 5px;
    overflow: auto; /* Permet d'ajouter une barre de défilement si nécessaire */
}

.title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.log-entry {
    background-color: rgba(255, 215, 0, 0.1);
    padding: 10px;
    border: 1px solid #FFD700;
    border-radius: 5px;
    margin-bottom: 15px;
}

.log-type {
    font-weight: bold;
    font-size: 1.1em;
}

.log-details {
    font-size: 0.9em;
    color: #CCCCCC;
}

.log-description {
    margin: 5px 0 0 0;
}

/* Styles pour le bouton de défilement */
.scroll-button {
    display: block;
    margin: 20px auto;
    padding: 10px 15px;
    background-color: #FFD700;
    border: none;
    border-radius: 5px;
    color: #000;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



/* Styles pour les appareils mobiles */
@media (max-width: 600px) {
    .title {
        font-size: 1.5em;
    }

    .log-type, .log-details {
        font-size: 0.9em;
    }

    .scroll-button {
        font-size: 1em;
        padding: 8px 12px;
    }
}
